body {
    font-family:sans-serif;
    color:#333; }
p {
    padding:0px;
    margin:10px; }
ul { list-style-type:square; }
h3 {
    padding:3px;
    border-bottom:1px solid black; }
h2 {
    margin:0px; }
img {
    border:1px solid #aaa;
    padding:3px; }
#container {
    width:50%;
    padding:10px;
    text-align:left; }
