<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Hello world!</title>
</head>
<body>
<center>
  <br/>
  <div id="container">
    <img src="tux.png" align="right" />
    <h1>~/devblog</h1>
    <h3>djanatyn's development blog.</h3>

    <h2>recent blog posts</h2>
    <ul>
      {{ content }}
    </ul>

    <h2>my stuff</h2>
    <ul>
      <li>github</li>
      <li>facebook</li>
      <li>google+</li>
      <li>soundcloud</li>
      <li>rstat.us</li>
      <li>reddit</li>
    </ul>

    <h2>contact info</h2>
    <p>email: djanatyn@gmail.com</p>
    <p>irc: djanatyn on freenode</p>
  </div>
</center>
</body>
</html>
