<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Hello world!</title>
</head>
<body>
<center>
  <br/>
  <div id="container">
    <img src="tux.png" align="right" />
    <h1>~/devblog</h1>
    <h3>djanatyn's development blog.</h3>

    <h2>recent blog posts</h2>
    <ul>
      {{ content }}
    </ul>

    <h2>my stuff</h2>
    <ul>
      <li><a href="http://github.com/djanatyn">github</a></li>
      <li><a href="http://www.facebook.com/djanatyn">facebook</a></li>
      <li><a href="http://soundcloud.com/superhexagon">soundcloud</a></li>
      <li><a href="http://rstat.us/users/djanatyn">rstat.us</a> ++ <a href="http://twitter.com/#!/djanatyn">twitter</a></li>
      <li><a href="http://www.reddit.com/user/djanatyn">reddit</a></li>
      <li><a href="http://crawl.akrasiac.org/scoring/players/djanatyn.html">crawl</a> ++ <a href="http://nethack.alt.org/nethack/player-all.php?player=djanatyn">nethack</a></ul>

    <h2>contact info</h2>
    <p>email: djanatyn@gmail.com</p>
    <p>irc: djanatyn on freenode</p>
  </div>
</center>
</body>
</html>
